.android {
  font-family: Roboto, 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  width: 405px;
  .main {
    background: #fefefe;
    border-radius: 3px;
    padding: 0;
    border: none;
    box-shadow: rgba(0, 0, 0, .14) 0px 2px 2px 0px,
      rgba(0, 0, 0, .2) 0px 3px 1px -2px, rgba(0, 0, 0, .12) 0px 1px 5px 0px;
    cursor: pointer;

    .header {
      color: #838383;
      padding: 16px 16px 8px;
      .app-meta {
        align-items: center;
        font-size: 12px;
        line-height: 15px;
        .bell-icon {
          width: 17px;
        }
        .app-name {
          margin: 0 4px;
          color: #636363;
        }
      }
    }

    .arrow-icon {
      svg {
        width: 15px;
      }
    }
    .close-btn {
      transform: scale(1.3, 1);
      font-size: 16px;
      font-weight: normal;
      cursor: pointer;
    }
    .section {
      padding: 0 16px 16px 16px;
    }
    .title {
      margin-bottom: 4px;
      color: #535353;
    }
    .message {
      color: #757575;
    }

    .header {
      display: flex;
      justify-content: space-between;
    }
    .header > * {
      display: flex;
    }
    .section {
      display: flex;
      justify-content: space-between;
    }
    .section > * {
      display: flex;
    }
    .short-description {
      flex-direction: column;
      font-size: 14px;
      max-width: calc(100% - 50px);
    }
    .short-description .title,
    .short-description .message {
      line-height: 20px;
    }

    .image {
      flex: 1;
    }

    .image img {
      max-width: 100%;
    }

    .image-preview-small {
      width: 36px;
      height: 36px;
      min-width: 36px;
    }
    .image-preview-small img {
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }

    .icon {
      margin-right: 5px;
      display: inline-block;
    }

    .icon img {
      max-width: 20px;
      max-height: 20px;
    }
  }

  &.expanded {
    .section {
      flex-direction: column;
      .image {
        margin-top: 10px;
      }
    }
  }

  .buttons {
    padding: 10px 8px;
    background: #eeeeee;

    .button {
      font-size: 13px;
      color: #636363;
      cursor: pointer;
      display: inline-block;
      line-height: normal;
      padding: 8px;
      &:hover {
        background: #9e9e9e66;
      }
    }
  }
}
