@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$width-of-preview:      29.5rem;
$font-family:           Roboto, 'Open Sans', Arial, Helvetica, sans-serif;
$color-background:      #f0f0f0;
$color-white:           #ffffff;
$color-black:           #000000;
$color-text:            #4d4d4d;

.desktop-macos {
  color: $color-black;
  font-family: $font-family;
  font-weight: 300;
  width: $width-of-preview;
  border-radius: .5rem;
  .main {
    display: flex;
    background: $color-background;
    color: $color-text;
    line-height: 1.375rem;
    border-radius: .8125rem;
    padding: 0;
    border: none;
    box-shadow: rgba(0, 0, 0, .14) 0rem .1875rem .8125rem .0625rem,
      rgba(0, 0, 0, .2) 0rem .1875rem .0625rem -.125rem, rgba(0, 0, 0, .12) 0rem .0625rem .3125rem 0rem;
    cursor: pointer;

    > * {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .icon-container {
      padding-left: .625rem;
      width: 4.0625rem;
      .chrome {
        width: 3.125rem;
      }
    }

    .content-container {
      flex-direction: column;
      align-items: flex-start;
      flex: 1;
      padding: .75rem .5rem;
      letter-spacing: .03125rem;
      > * {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 18.75rem;
      }
      .title {
        font-size: 1.21875rem;
        font-weight: 500;
      }
      .site {
        font-size: 1.16875rem;
        letter-spacing: .025rem;
      }
      .message {
        font-size: 1.1375rem;
      }
    }

    .app-logo-container {
      width: 5.625rem;
      padding: .625rem;
      img {
        width: 100%;
      }
    }

    .icon img {
      width: 100%;
    }
  }

  &.expanded {
    .header {
      font-size: .8125rem;
      align-items: center;
      padding: .875rem;
    }
    .section {
      padding: .875rem;
    }
  }
}
